.cards{
    .card{
        margin-right: .25rem;
        border:1px gray outset;
        padding-bottom: .25rem;
        padding-left:0px;
        .cardBody{
            display:none;
            height: 0;
            overflow: auto;
            @media @tablet{
                display: block;
                height: auto;
                p{
                    padding:1rem;
                }
            }
        }
        .cardHead{
            padding:1rem;
            @media @tablet{
                background-color: lightgray;
            }
        }
        &.show .cardBody{
            animation: slideIn .5s;
            height: 200px;
            border-top: 2px gray groove;
            display: block;
            p{
                padding:1rem;
            }
            @media @tablet{
                animation: none;
                height: auto;
                border-top:2px gray groove;
            }
        }
        .cardBody{
            @media @tablet{
                border-top:2px gray groove;
            }
        }
        @media @tablet{
            margin: 1rem 0;
        }
    }
    height: 421px;
    @media @tablet {
        margin: 0 1rem;
        height: auto;
    }
    
}

@keyframes slideIn{
    from{
        height:0;
    }to{
        height: 200px;
    }
}

@keyframes slideOut{
    from{
        height:200px;
    }to{
        height: 0;
    }
}